<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Componente Vue.js</title>
  <!-- Incluye el CDN de Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
</head>
<body>
  <div id="app">
    <h1>Nombre Completo</h1>
    <p>{{ fullName }}</p>
    <input v-model="firstName" placeholder="Nombre" />
    <input v-model="lastName" placeholder="Apellido" />
  </div>

  <script src="E9.js">
   
  </script>
</body>
</html>
