<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Componente Vue.js con Watcher</title>
  <!-- Incluye el CDN de Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
</head>
<body>
  <div id="app">
    <h1>Watcher</h1>
    <input v-model="message" placeholder="Escribe algo" />
    <p>Mensaje actual: {{ message }}</p>
    <p v-if="watchMessage">¡El mensaje ha cambiado!</p>
  </div>

  <script src="E10.js">
    
  </script>
</body>
</html>
